@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
:root {
  --highlight: rgb(138, 43, 226);
  --text-color-highlight: #FFF;
  --text-color: #000;
  --text-color-light: #777;
  --link-color: #007;
}

.dark {
  --highlight: rgb(255, 236, 0);
  --text-color: #FFF;
  --text-color-highlight: #121212;
  --link-color: #99F;
  --text-color-light: #AAA;
  background-color: #121212;
  color: white;
}

.dark li {
  color: white;
}

.dark .links a svg {
  fill: white;
}

.dark .links a svg:hover {
  fill: var(--highlight);
  stroke: black;
}

.dark #linkedin-link:hover {
  fill: var(--highlight);
  stroke: black ;
}

#root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2.5rem;
  margin: 10rem;
  font-family: "Sofia Sans", serif;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0;
  user-select: none;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: sticky;
  top: 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin-top: 0.5rem;
  scale: 2;
  transition-duration: 250ms ;
  transition-timing-function: ease-in-out;
}

.title:hover {
  fill: var(--highlight);
  rotate: 90deg;
}

ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.theme-btn, .nav-btn {
  background-color: transparent;
  margin: 0;
  padding: 0.25rem;
  font-size: 1.1rem;
  border-color: transparent;
  border-width: 5px;
  transition-duration: .25s;
  border-radius: .2rem;
  color: var(--text-color);
  transition: all ease-in-out 250ms;
}

.theme-btn {
  transition-duration: 500ms;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  color: var(--text-color-light);
}

.nav-btn:hover {
  color: var(--text-color);
}

.theme-btn:hover {
  rotate: 360deg;
}

.active{
  background-color: var(--highlight);
  color: var(--text-color-highlight);
}

.active:hover {
  color: var(--text-color-highlight);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.small-hr {
  margin: 2rem;
  width: 50%;
  align-self: center;
  transition-duration: .25s;  
}
.small-hr:hover {
  border-color:var(--highlight);
  width: 60%;
}
.links {
  display: flex;
  align-items: center;
  justify-content:center ;
  gap: 1rem;
}

.contact-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.25rem;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.contact-info a{
  text-decoration: none;
  color: var(--text-color);
}

.links a svg {
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0);
}

.links a svg:hover {
  fill: var(--highlight);
  transition: transform .15s cubic-bezier(.17,.67,.29,2.71) 0s;
  transform: translate3d(0px, 0px, 0px) scale(1.1);
}

#linkedin-link:hover {
  fill: white;
  stroke: var(--highlight);
}

.content-container {
  max-width: 72ch;
}

.work-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.work-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  padding: 0 1rem;
  border-left: 5px solid gray;
  border-radius: .2rem;
  transition-duration: .25s;
  user-select: none;
  
}

.work-tab:hover {
  border-color: var(--highlight);
}

.work-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.work-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.work-desc {
  font-family: monospace;
  font-size: 0.9rem;
  --tw-text-opacity: 1;
    color: rgb(115 115 115 / var(--tw-text-opacity));
  margin: 0;
}

.work-link{
  scale: 1.25;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.work-link a svg{
  fill: var(--text-color);
  transition-duration: .25s;
}

.work-link a svg:hover {
  fill: var(--highlight);
}

p a {
  color: var(--link-color);
  transition: all ease-in-out 250ms;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

p a::after {
  content: " »";
}
p a::before {
  content: "» ";
}

p a:hover::after {
  color: var(--highlight);
}

p a:hover:before {
  color: var(--highlight);
}

.work-container {
  margin-top: 1rem;
}

.content-title {
  margin: 0 auto;
}

.content-title::after {
  content: " »";
  color: transparent;
  transition: all ease-in-out 250ms;
}

.content-title:hover:after {
  color: var(--highlight);
}

@media only screen and (max-width: 600px) {
  #root {
    flex-direction: column;
    margin: 1rem;
    gap: 0.1rem;
  }

  .title {
    align-self: center;
  }

  .nav-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-color-highlight);
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
  }
  .nav ul {
    flex-direction: row;
  }

   h1 {
    margin: 0.1rem auto;
  }

  .work-title {
    margin: 0;
  }
  .work-desc {
    margin: 0;
  }

  .nav {
    flex-direction: row;
  }
}